<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <style>
        input[type=text]{
            width  : 450px;
            height : 50px;
            border-radius:5px;
        }
    </style>
	<title> Wholesome Website </title>
</head>

<body style="background-color:lightblue;">

<center>
    <h1 align = "center" style="font-family: 'Merriweather', sans-serif;">What are you thankful for?</h1>
    
    <form action="text" method="post">
        <input align="center" type= "text" name="Answer"><br>
        <input align="center" type="submit" value="Submit">
    </form>
    {% for item in data %}
    <tr style="font-family: 'Merriweather', san-serif;">
        <td style="font-family: 'Merriweather', san-serif;">{{item}}<br></td>
    </tr>
    {% endfor %}
</center>

</body>
</html>
